@charset "UTF-8";

body {
    background-color: rgb(111, 251, 111);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(2, 151, 2);
}

h1#principal {
    text-align: center;
    color: black;
}

h2 {
    color: rgb(22, 106, 22);
}

.basico {
    color: rgb(255, 0, 0);
}